@model List<HistorialCompras>

<h2>Historial de Compras</h2>

<table class="table">
    <thead>
        <tr>
            <th>Concierto</th>
            <th>Fecha de Compra</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in Model)
        {
            <tr>
                <td>@compra.nombreConcierto</td>
                <td>@compra.FechaCompra.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   <footer>
                <p class="footer">Hecho por: Ariana Castro, Agustina Potasman, Lola Vazquez y Sasha Vilamowski</p> 
        </footer>