<div class="container">
    <form class="formLogin" method="get" action='@Url.Action("OlvidoContraseña","Home")' enctype="multipart/form-data">
        <h1 class="text-white">Iniciar Sesión</h1>
        <input class="mb-3" type="text" name="Nombre" placeholder="Ingrese su usuario" required>
        <br>
        <button class="mb-3 btn btn-primary" type="submit">
            Mostrar contraseña
        </button>
        <br>
        <a style="color: rgb(0, 0, 0);" href='@Url.Action("Index","Home")'>Iniciar Sesion</a>
    </form>
    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Mensaje
        </div>
    }
</div>
